p
{
color:red;
font-size:22pt;
}
p#gruby_subiel
{
color:green;
font-size:17pt;
font-family: bold;
}
p#dlawszystkich_subiel
{
color:yellow;
font-size:17pt;
font-family: Arial;
}

<textarea cols="100" rows="100">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<LINK href="zadanie%2022.css" rel="stylesheet" type="text/CSS">
</head>
<body bgcolor="silver">
<p> Subiel,Pierwowzór sieci Internet zaczął powstawać w połowie lat 60-tych. Dowództwo wojskowe Stanów Zjednoczonych potrzebowało szybkiej i niezawodnej sieci, dzięki której mogliby wymieniać informacje podczas wojny. Dodatkowo sieć ta musiała umożliwiać dostarczenie wiadomości nawet w przypadku jej częściej awarii bądź też zniszczenia.</p>
    
<p id="gruby_subiel"> Subiel,Projekt powiódł się, i u schyłku lat 80-tych Internet był już podstawowym sposobem wykorzystywanym przez komputery do przesyłania między sobą danych. Ogromne tempo rozwoju Internetu, w którego skład wchodzą miliony mniejszych sieci komputerowych z całego świata zaczął jednak niepokoić.</p>
</body>
<h1 id="dlawszystkich_subiel"> Subiel, Chodzi przede wszystkim o to czy przesyłane dane są bezpieczne. Wraz z upowszechnieniem się globalnej sieci pojawił się problem kradzieży poufnych wiadomości (tak zwane włamania elektroniczne). Ludzi zajmujących się tym procederem nazywa się hakerami.
</h1> 
<div id="dlawszystkich_subiel">Subiel, Stworzony przez grupę hakerów wirus komputerowy, (czyli szkodliwy program) nazwany przez nich robakiem internetowym, (czyli z ang. Internet Worm) dokonał blokady połączenia ok. sześciu tysiącom serwerów, co stanowiło 10% całej ówczesnej sieci (liczonej wtedy na ok. 60 000 serwerów). Po mimo tego liczba komputerów podłączanych do Internetu cały czas rośnie lawinowo.</div>
</html>
<!--Dominik Subiel--!>
</textarea>